body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}
h1{
	margin: 50px auto 0 auto;
	    font-size:562.5%;
	    color: #66BFBF;
	font-family: 'Sacramento', cursive;
}
h2{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 2.6rem;
color: #66BFBF;
}
h3{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #11999E;
}
a{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 10px 20px;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: #EAF6F6;
}
.topContainer{
	background-color: #EAF6F6;
	position: relative;
	padding-top: 100px;
}
hr{
    border-style: dotted none none;
    border-top-style: dotted;
    border-color: #eaf6f6;
    border-width: 8px;
    width: 7%;

}
.topCloud{
	position: absolute;
	right: 400px;
	top: 50px;
}
.bottomCloud{
	position: absolute;
	left: 400px;
	bottom: 300px;
}
.skill-row{
	width: 50%;
	margin: 100px auto;
	line-height: 2;
	text-align: left;
}

.desktop{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.chillies{
	width: 25%;
	float: right;
	margin-left: 30px;
}
.desktop-description{
	clear: left;
}
.chillies-description{
	clear: right;
}
.bottom-container{
	background-color: #66BFBF;
}
.copy-right{
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0px;
}
.middle-container{
	margin:100px 0;
}
.intro{
	width: 33%;
	margin: auto;
}
p{
	line-height: 2;
}
.contact-message{
	width: 33%;
	margin: 50px auto;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.bottom-container{
	background-color: #66bfbf;
	padding: 50px 0 20px;
}